<% if logged_in? %>
<p class="pull-right">
  [<%= link_to 'Edit this Post', edit_post_path(@post)%>]
</p>
<% end %>
<p>
  <%= render @post.categories %>
</p>

<p class="lead">
  <%= link_to @post.title, fix_url(@post.url) %>
  <hr/>
</p>

<p>
  <%= @post.description %>
  <hr/>
</p>
<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', obj: @comment %>
    <div class="control-group">
      <%= f.label :body, 'Leave a comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4'%>
    </div>

    <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

<h4>Comments:</h4>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
